# Node.js
node_modules/
npm-debug.log

# Build output
dist/

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# OS-specific files
Desktop.ini

# Vite
.vite/

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local